@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.mesh-gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}